<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">                                    
                    @Html.ActionLink("Home", "Index", null, new { @class="logo"})                
                <li>
                    @Html.ActionLink("Course (About)", "Index", "About")
                </li>
                <li>
                    @Html.ActionLink("Rates", "Index", "Rates")
                </li>
                <li>
                    @Html.ActionLink("Pro Shop", "Index", "Shop")
                </li>
                <li>
                    @Html.ActionLink("Tournaments", "Index", "Tournaments")
                </li>
                <li>
                    @Html.ActionLink("Member Information", "Index", "MemberInfo")
                </li>
                <li>
                    @Html.ActionLink("Kitchen & Bar", "Index", "Kitchen")
                </li>
                <li>
                    @Html.ActionLink("Gallery", "Index", "Gallery")
                </li>
                <li>
                    @Html.ActionLink("Reservation", "Index", "Reserv")
                </li>
            </ul>
            <ul class="media-buttons">
                <li><a href="#"><i class="fa fa-facebook-official fa-lg grow"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square fa-lg grow"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus-square fa-lg grow"></i></a></li>
                <li><a href="#"><i class="fa fa-tripadvisor fa-lg grow"></i></a></li>
                <li><a href="#"><i class="fa fa-flag fa-lg grow"></i></a></li>
            </ul>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>
                    &copy; @DateTime.Now.Year - Amherst Golf Club
                    @Html.Partial("_LoginPartial")
                </p>

            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>
</html>