@model IEnumerable<AmherstGolfClub.Models.Rates>
@{
    ViewBag.Title = "DrivingRange";
}

<div class="container">
    <h2>Amherst Golf Club's Green Fees</h2>
    <table class="table table-striped" cellpadding="15">
        <thead><tr><em>Prices Do Not Include HST</em></tr></thead>
        <tbody>
            <tr>
                <td></td>
                <td>Weekday/Weekend</td>
            </tr>
         
            @foreach (var item in Model.Take(4))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>$ @Html.DisplayFor(modelItem => item.Rate)</td>
                </tr>
            }

        </tbody>
    </table>
    <p><strong>Visa and Master Card are accepted. Replay rate is $15.00 any day.</strong></p>
</div>

<div class="container">
    <h2>Green Fee Specials</h2>
    <table table class="table table-striped" cellpadding="15">
        <thead><tr><em>Twilight rates start every day at 3:30pm</em></tr></thead>
        <tbody>
            @foreach (var item in Model.Where(item => item.RatesID > 12 && item.RatesID < 16))
            {

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.TimeFrame)</td>
                </tr>
            }
            @foreach (var item in Model.Where(item=> item.RatesID > 4 && item.RatesID < 9))
            {
                
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>$ @Html.DisplayFor(modelItem => item.Rate)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">
    <h2>Driving Range Pricing</h2>
    <table table class="table table-striped" cellpadding="15">
        <thead><tr><em>Prices Do Not Include HST</em></tr></thead>
        <tbody>
            @foreach (var item in Model.Where(item => item.RatesID > 8 && item.RatesID < 11))
            {

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>$ @Html.DisplayFor(modelItem => item.Rate)</td>
                </tr>
            }
        </tbody>
</table>
</div>

<div class="container">
    <h2>Driving Range Membership</h2>
    <table table class="table table-striped" cellpadding="15">
        <thead><tr><em>Prices Do Not Include HST</em></tr></thead>
        <tbody>
            @foreach (var item in Model.Where(item => item.RatesID > 10 && item.RatesID < 13))
            {

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>$ @Html.DisplayFor(modelItem => item.Rate)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">
    <h3>Coupons Available:</h3>
    <ul>
        <li>Peelers</li>
        <li>Johnny's Coupons</li>
        <li>Nova Scotia Lung Book</li>
        <li>Maritimes Caddie</li>
        <li>Costco</li>
    </ul>
</div>



